* {
  box-sizing: border-box;
}

body {
  background-color: #1c304a;
  color: #90C695;
  font-family: "Playfair Display", serif;
}

h1,
h2 {
  color: #ffffff;
}

h3 {
  color: #90C695;
}

header {
  font-family: "Kaushan Script", cursive;
}

header h1 {
  font-size: 60px;
}

header h1, h2{
  text-align: center;
}

.lang {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

i {
  font-size: 26px;
  color: #90C695;
}

.about-me {
  padding: 20px 0;
  margin: 0 auto;
  width: 80vw;
}

.about-me h2,h3 {
  text-align: center;
}

p {
  font-size: 17px;
  text-align: justify;
  line-height: 20px;
  word-spacing: 2px;
}

img {
  width: 80vw;
  height: 30vh;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
}

.projects {
  padding: 20px 0;
  margin: 0 auto;
  width: 80vw;
}

.projects a {
  color: #ffffff;
  display: block;
}

.project-links {
  text-align: center;
}

.projects h2 {
  text-align: center;
}

.footer{
  padding-top: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-around;
}

.footer h2 {
  padding: 5px 0;
  text-align: center;
}

a {
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  img {
    width: 40vw;
  }

  .used {
    text-align: center;
  }

  p {
    font-size: 24px;
    line-height: normal;
  }

  i {
    font-size: 30px;
  }

  header h1 {
    font-size: 75px;
  }
}

@media only screen and (min-width: 1200px) {
  header h1 {
    font-size: 100px;
  }

  img {
    width: 25vw;
  }

  .projects {
    width: 60vw;
  }
}